
.defer {
    visibility: visible;
}


// Post-load stuff


#footer {
    p {
        text-align: center;
        font-size: 13px;
    }
}


.text-center {
    text-align: center;
}

.pages {
    .header-med {
        font-weight: 700;
        font-size: 48px;
        padding-bottom: 0;
        text-transform: uppercase;
        padding-top: 40px;

        @include appnav {
            font-size: 32px;
        }

        & + p {
            margin-top: -30px;
            padding-top: 0;
            padding-bottom: 30px;
            padding-bottom: 40px;
            color: $cTextDefault;
            text-align: center;
            font-size: 18px;

            @include appnav {
                margin-top: -20px;
                font-size: 16px;
            }

            strong {
                color: $cTextDefault;
            }
        }
    }
}

.sidebar {
    .logo {
        img {
            width: 188px;
            padding-left: 28px;
            will-change: transform;
            padding-bottom: 21px;
        }
    }
    .footer {
        position: absolute;
        bottom: 21px;
        left:0;
        font-size: 11px;
        color: #4F3A75;
        text-align: center;
        font-weight: 500;
        width: 100%;

        @include appnav {
            display: none;
        }

        a {
            color: #201237;
            text-decoration: none;
        }

        span {
            display: inline-block;
            vertical-align: middle;
            & + span {
                margin-left: 8px;
            }

        }

        svg {
            width: 24px;
            height: 24px;
            fill: #201237;
        }

    }
}

hr {
    display: block;
    width: 500px;
    width: 100%;
    max-width: 900px;
    background: linear-gradient(to right, rgba(99,136,180,1) 0%,rgba(124,189,211,1) 100%);
    background: rgba(white, 0.25);
    height: 1px;
    outline: none;
    border: none;
}




#me {
    
    &:before {
        content: ' ';
        display: none;
        background: #33365a;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 245px;

        @include appnav {
            display: block;
            height: 280px;
            background-image: url(../media/bg.jpg);
            background-size: cover;
        }
        @include mobile {
            height: 175px;
        }
    }
    
}
